<div class="text-center"> 
    <h2> Hello! Welcome to my little travel app! </h2> 
    <div>
    <img src="https://www.visitflorida.com/content/dam/visitflorida/en-us/images/full-rights/500px-images/500px-all-rights-08-miami/miami-aerial-coastline-full-rights-500px2.jpg.1200.630.rendition">
    </div>
</div>